<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbaopu.persistence.user.UserDomainMapper">
	<resultMap id="BaseResultMap" type="com.yuanbaopu.domain.user.UserDomain">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_uuid" property="userUuid" jdbcType="CHAR" />
		<result column="login_id" property="loginId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, user_uuid, login_id, name, email, mobile, password
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<select id="selectByAccount" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where login_id = #{account}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yuanbaopu.domain.user.UserDomain">
		insert into user (user_id,
		user_uuid, login_id,
		name, email, mobile,
		password)
		values
		(#{userId,jdbcType=INTEGER}, #{userUuid,jdbcType=CHAR},
		#{loginId,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yuanbaopu.domain.user.UserDomain">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="userUuid != null">
				user_uuid,
			</if>
			<if test="loginId != null">
				login_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userUuid != null">
				#{userUuid,jdbcType=CHAR},
			</if>
			<if test="loginId != null">
				#{loginId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yuanbaopu.domain.user.UserDomain">
		update user
		<set>
			<if test="userUuid != null">
				user_uuid = #{userUuid,jdbcType=CHAR},
			</if>
			<if test="loginId != null">
				login_id = #{loginId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yuanbaopu.domain.user.UserDomain">
		update user
		set
		user_uuid = #{userUuid,jdbcType=CHAR},
		login_id =
		#{loginId,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR}
		where user_id =
		#{userId,jdbcType=INTEGER}
	</update>
	<select id="queryUserList" resultMap="BaseResultMap"
		parameterType="com.yuanbaopu.reqdomain.UserSearchNames">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
		</where>
	</select>
</mapper>